In [4]:
import pandas as pd

india_weather = pd.DataFrame({
    'city': ['mumbai', 'delhi', 'bangalore'],
    'temperature': [32, 45, 30],
    'humidity': [80, 60, 78]
})
india_weather

us_weather = pd.DataFrame({
    'city': ['new_york', 'chicago', 'orlando'],
    'temperature': [21, 14, 35],
    'humidity': [68, 65, 75]
})
us_weather

       city  temperature  humidity
0  new_york           21        68
1   chicago           14        65
2   orlando           35        75

## Concatenate

In [9]:
df = pd.concat([india_weather, us_weather], keys=['india','us'])  # ignore original index
df

              city  temperature  humidity
india 0     mumbai           32        80
      1      delhi           45        60
      2  bangalore           30        78
us    0   new_york           21        68
      1    chicago           14        65
      2    orlando           35        75

In [11]:
df.loc['india']

        city  temperature  humidity
0     mumbai           32        80
1      delhi           45        60
2  bangalore           30        78

## Combine Two Similar DFs

In [22]:
temp_df = pd.DataFrame({
    'city': ['mumbai', 'delhi', 'bangalore','city1'],
    'temperature': [32, 45, 30, 29]})
wind_speed_df = pd.DataFrame({
    'city': ['mumbai', 'delhi', 'bangalore', 'city2'],
    'windspeed': [80, 60, 78, 65]})
df = pd.concat([temp_df, wind_speed_df], axis=1)  # when axis=1, the new data is concatenated as new columns
df

        city  temperature       city  windspeed
0     mumbai           32     mumbai         80
1      delhi           45      delhi         60
2  bangalore           30  bangalore         78
3      city1           29      city2         65

## Combine DF and Series

In [18]:
s = pd.Series(['Rain','Dry','Rain'], name='event')
s

0    Rain
1     Dry
2    Rain
Name: event, dtype: object

In [19]:
df = pd.concat([temp_df, s], axis=1)
df

        city  temperature event
0     mumbai           32  Rain
1      delhi           45   Dry
2  bangalore           30  Rain

## Merge
Merge looks at the value of the city and merges instead of concatenates

In [23]:
df = pd.merge(wind_speed_df, temp_df, on='city')  # intersects the data
df

        city  windspeed  temperature
0     mumbai         80           32
1      delhi         60           45
2  bangalore         78           30

In [26]:
df = pd.merge(wind_speed_df, temp_df, on='city', how="outer")  # outer will make a union of the values
df

        city  windspeed  temperature
0     mumbai       80.0         32.0
1      delhi       60.0         45.0
2  bangalore       78.0         30.0
3      city2       65.0          NaN
4      city1        NaN         29.0

In [ ]:
df = pd.merge(wind_speed_df, temp_df, on='city', how="right")  # right will take all data from "right" dataframe
df